.list {
  display: flex;
  gap: 32px;
  flex-direction: column;
  width: 100%;
}
.p {
  display: flex;
  justify-content: center;
  color: rgb(16, 24, 40);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0%;
}
